ul.box {
  padding: 10px;
  margin-left: 350px;
  margin-right: 300px;
}

ul.box li {
  display: inline;
  margin-right: 0px;
  margin-left: 50px;
  padding: 15px;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-family: Playfair Display;
  cursor: pointer;
}

a.color {
  color: #03a9f4;
}

a.dark {
  color: #626262;
}

.image_morelife {
  margin-left: 150px;
}

.morelife {
  display: inline-block;
  padding: 15px;
  width: 580px;
  margin-right: 80px;
  margin-left: 60px;
}

.morelife2 {
  display: inline-block;
  padding: 0px;
  width: 410px;
}

h2 {
  color: #b4ad9e;
  font-family: Ubuntu Light;
  font-size: 14px;
}

h3 {
  color: #626262;
  font-size: 30px;
  font-family: Playfair Display;
}

p {
  color: #626262;
  text-align: justify;
  font-family: Playfair Display;
  font-size: 14px;
  margin-inline-end: 10px;
}

.scnd_colomn {
  margin-inline-end: -10px;
}

.left {
  margin-left: 150px;
}

.Button {
  border: 1px solid #bfc4cf;
  display: inline-block;
  color: #706770;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: normal;
  padding: 15px 30px;
  margin: 50px 500px 20px 610px;
}

.Button:hover {
  background-color: #fcfdff;
}

.Button:active {
  position: relative;
  top: 1px;
}
